# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store

# IDE files
.vscode/
.idea/
*.swp

# Dependency directories
/.pnp
.pnp.js

# Misc
coverage/
*.tgz